.bg {
    background-image: url(/images/LandingPageLogo.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* Mobile device */
@media only screen and (max-width:768px) {

    .bg {
        background-image: url(/images/LandingPageLogo.jpg);
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }


}


/* Tab */
@media only screen and (min-width: 768px) and (max-width: 1135px) {
    .bg {
        background-image: url(/images/LandingPageLogo.jpg);
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }

}