.bg {
    background-image: url(/images/LandingPageLogo.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 60vh; */
    height: 100%;
}

/* Mobile device */
@media only screen and (max-width:699px) {

    .bg {
        background-image: url(/images/LandingPageLogo.jpg);
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
    }


}


/* Tab */
@media only screen and (min-width: 699px) and (max-width: 1275px) {
    .bg {
        background-image: url(/images/LandingPageLogo.jpg);
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
    }

}